.booking-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: white;
  height: 37vh;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  justify-content: center;
  align-self: center;
}

.booking-pick {
  position: absolute;
  width: 300px;
  height: 100%;
  left: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  max-width: none;
  max-height: none;
}

.room-details {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.book-head {
  font-weight: bold;
  color: black;
}

.book-details h3 {
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  left: 345px;
  margin-top: 40px;
}

.ratings {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.rating-stars svg {
  margin-right: 5px;
}

.roomk-price {
  position: absolute;
  top: 160px;
  left: 670px;
}

.room-bookingk-time {
  position: absolute;
  top: 165px;
  left: 730px;
  font-weight: lighter;
  font-size: 14px;
}

.favoritek {
  position: absolute;
  top: 200px;
  margin-left: 1300px;
  border-color: black;
}

.btns {
  display: flex;
  margin-top: auto;
}

.btn-book {
  position: absolute;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 200px;
  margin-top: 20px;
}

.numberOfReviews {
  margin-top: auto;
}

@media (max-width: 660px) {
  .booking-pick {
    width: 100px;
    height: 100px;
    ;
  }

  .room-details {
    border-radius: 0;
    width: 100%;
  }

  .room-details {
    padding: 10px;
  }
  .btn-book{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .roomk-price{
    width: 50px;
  }

  .btns {
    flex-direction: column;
  }
}

.active {
  color: red;
}

.star-active {
  color: gold;
}